<h1>All the Cats</h1>

<ul>
    <% @cats.each do |kitty| %>
        <li> 
        <a href = "<%= cat_url(kitty) %>">
        <%= kitty.name %>
        </li>
    <% end %>
</ul>

<a href= '<%= new_cat_url %>' > Create New Cat </a>
