<h1> <%= @cat.name %> </h1>

<table>
    <tr> 
        <th> Characteristics </th>
        <th> Value </th>
    </tr>
    <% [:age, :birth_date, :color, :sex].each do |characteristic| %>
    <tr>
        <td>
            <%= characteristic %>
        </td>
        <td>
            <%= @cat.send(characteristic) %>
        </td>
    </tr>
    <% end %>
</table>

<a href= '<%= edit_cat_url(@cat) %>' > Edit Cat </a>